#IDE
/.idea

# Logs
logs
*.log
npm-debug.log*

# npm
node_modules
package-lock.json

# dist
/dist
/cms/dist
/site/front-end/dist
/cms/db-cms-front-static-files
/site/front-end/site-front-static-files

# report
/coverage-ts

# style's d.ts
*.scss.d.ts

# other
.DS_Store

.env

# data base
/db/
/db-dump/
